@charset "UTF-8";

@font-face { font-family: 'Bazzi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff'); font-weight: normal; font-style: normal; }
a {text-decoration: none;}
hr {height:0.5px; border-width:0; color:#f0f4f5; background-color:#f0f4f5; }

/* size */
.wp100 {width:100%;}
.wp50 {width:50%;}

/* div */
.fl {float:left;}
.dp-block {display:block;}

/* header */
header {min-height:100px; background-color: #3b9277; margin-bottom: 100px;}
/* header {width: 60%; height: 100px; margin: 0 auto; display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: flex-end; } */
header .logo {width: 50%; margin-right: 50px; margin-right: auto;}
header .item a {font-family:'Bazzi'; font-size: 1.1em; color: #f0f4f5; flex:none; float: left; margin-right:20px;}
header .item.active a{font-weight:700; color: #9ff6d7; border-bottom: 1.5px solid #9ff6d7;}

/* footer */
footer {height: 140px; background-color: #3b9277; margin-top: 70px;}
footer .information {width: 60%; height: 140px; margin: 0 auto; color: #f0f4f5;}
footer .information a {color: #f0f4f5;}
footer .information .content hr {height:0.5px; border-width:0; color:#f0f4f5; background-color:#f0f4f5; }
footer .container {display: flex; flex-flow: row wrap; justify-content: space-between; }
footer .information {display: table;}
footer .information .content {display: table-cell; vertical-align: middle;}
