@charset "UTF-8";

@font-face { font-family: 'Bazzi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff'); font-weight: normal; font-style: normal; }
a {text-decoration: none;}
hr {height:0.5px; border-width:0; color:#f0f4f5; background-color:#f0f4f5; }
body {padding-top:160px !important;}

/* size */
.wp100 {width:100%;}
.wp50 {width:50%;}

/* div */
.fl {float:left;}
.dp-block {display:block;}

/* paging */
.pagination > li > a {background-color: white; color: #3b9277;}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {color: #2a8166;background-color: #eee;border-color: #ddd;}
.pagination > .active > a{color: white; background-color: #3b9277 !Important;    border: solid 1px #3b9277 !Important;}
.pagination > .active > a:hover{background-color: #3b9277 !Important; border: solid 1px #3b9277;}



/* header */
header nav {background-color: #3b9277; padding: 2rem !important;}
header nav .logo {width: 50%; margin-right: 50px; margin-right: auto;}
header nav .nav-item a {font-family:'Bazzi'; font-size: 1.1em; color: #f0f4f5 !important;}
header nav .nav-item.active a{font-weight:700; color: #9ff6d7 !important;}

.navbar-light .navbar-toggler {color: rgba(255,255,255,.5) !important; border-color: rgba(255,255,255,.1) !important;}

/* footer */
footer {background-color: #3b9277; color: #f0f4f5; margin-top: 70px; padding: 20px 0;}
footer .footer-hr {border-top:1px solid #ffffff; padding:0; margin: 10px 0;}
footer a {color: #f0f4f5;}


/* content modal */
.modal-content {padding:20px;}