<!-- Common Footer -->
<footer class="footer">
	<div class="container">
		<div class="px-2">
			<div class="row">
				<div class="col-lg-2"><a href="/termsOfUse">TERM OF USE</a></div>
				<div class="col-lg-2"><a href="/privacy">PRIVACY POLICY</a></div>
				<div class="col-lg-8"></div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-12 footer-hr"></div>
			</div>
			<div class="row">
				<div class="col-lg-6"><div class="item item1">ⓒCopyright GreenLab9 2020</div></div>
				<div class="col-lg-6"><div class="item item2 text-right">문의: green@greenlab9.com</div></div>
			</div>
		</div>
	</div>
</footer>
