<!-- Common Header -->
<header class="row align-items-center">
	<div class="col-lg-6 text-center">
		<a href="/"><img class="logo" src="/images/Logo-white.png" alt="Green Lab"></a>
	</div>
	<div class="col-lg-6">
		<div class=" row justify-content-center">
			<div class="item news-short"><a href="/news/short">짧은 소식</a></div>
			<div class="item news-long"><a href="/news/long">조금 긴 소식</a></div>
			<div class="item lunch"><a href="/lunch">직장인 점심</a></div>
			<div class="item garbage"><a href="/garbage">버려지는 것들</a></div>
		</div>
	</div>
</header>

<script>
$(document).ready(function(){
	var path = window.location.href;
	
	var selItem = null;
	if (path.indexOf("news/short") >= 0) {
		selItem = $(".news-short");
	} else if (path.indexOf("news/long") >= 0) {
		selItem = $(".news-long");
	} else if (path.indexOf("lunch") >= 0) {
		selItem = $(".lunch");
	} else if (path.indexOf("garbage") >= 0) {
		selItem = $(".garbage");
	}
	
	$(selItem).addClass("active");
});
</script>