<!-- Common Header -->
<header class="row justify-content-center r align-items-center">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<a href="/"><img class="logo" src="/images/Logo-white.png" alt="Green Lab"></a>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-xl-2"></div>
	<div class="col-lg-6">
		<div class=" row justify-content-center">
			<div class="item active"><a href="/news/short">짧은 소식</a></div>
			<div class="item"><a href="/news/long">조금 긴 소식</a></div>
			<div class="item"><a href="/lunch">직장인 점심</a></div>
			<div class="item"><a href="/garbage">버려지는 것들</a></div>
		</div>
	</div>
</header>
