<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="/layout/head"></th:block>
	
	<!-- image slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
	
	<!-- File uploader -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/plugins/piexif.min.js" type="text/javascript"></script>
	
	<script>
	$(document).ready(function() {
		$("#input-photo").fileinput({
			maxFileCount: 1,
			maxTotalFileCount: 1,
			showClose: false,
			showBrowse: false,
			showCaption: false,
			dropZoneTitle: "버려지는 것들을 공유해 주세요.<br>여기로 사진 1장을 끌어 놓으면 됩니다.",
			allowedFileExtensions: ["jpg", "png", "gif"]
		});
		
		$("#input-photo").hide();
	});
	</script>
	<style type="text/css">
		body{margin:0px; padding:0px; font-family: 'Nanum Gothic', sans-serif;}
		
		/* article */
		article .container {width: 100%;  margin: 0 auto; display: flex; flex-flow: row wrap; justify-content: space-evenly;}
		article .container .item {padding: 30px; border: none; border-radius: 6px; margin-bottom: 40px; background-color: #f5f5f5; color: #373737; position: relative; bottom: 0px; cursor:pointer;}
		article .container .item:hover {background-color: #ffffff; position: relative; bottom: 15px; box-shadow: 5px 5px 10px 10px #eeeeee;}
		article .container .item img {width: 100%; display: block; margin: 0 auto;}
		article .container .item .place {font-weight: bold; text-align: center; margin-top: 20px;}
		article .container .item .date {font-size: 0.9em; text-align: center; margin-top: 10px;}
		article .more {font-size: 1.6em; text-align:center; color:#bdbdbd; margin-top: 20px;}
		article .more a {color:#6dc3a6; font-family:'Bazzi';}
		/* #upload-file {width:50%; border:2px solid #6dc3a6; margin:0 auto; padding:10px 0px; border-radius:4px; margin-top: 50px; margin-bottom: 50px;}
		#upload-file button {width:97%; border:1px dotted; font-size: 1.1em; background-color:#f2f2f2; display:block; margin:0 auto; line-height:180%;} */
		article form {width:60%;  margin:0 auto; margin-top:50px;}
		article form .wrap {text-align: center; margin-bottom:30px;}
		article form .wrap .container-R {display: inline; position: relative; padding-left: 45px; margin:10px; cursor: pointer; font-size: 1.2em; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
		article form .wrap .container-R input {position: absolute; opacity: 0; cursor: pointer;}
		article form .wrap .checkmark-R {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #ccc; border-radius: 30%; }
		article form .wrap .container-R input:checked ~ .checkmark-R {background-color: #6dc3a6;}
		article form .wrap .checkmark-R:after {content: ""; position: absolute; display: none;}
		article form .wrap .container-R input:checked ~ .checkmark-R:after {display: block;}
		article form .wrap .container-R .checkmark-R:after {top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 80%; background: white;}
		article form input[type=text] {width:60%; font-size:1.1em; color:#6dc3a6; padding:12px 20px; margin-bottom:20px; box-sizing:border-box; border:2px solid #6dc3a6; border-radius:4px; display: block; margin: 0 auto;}
		article form input::placeholder {color:#6dc3a6;}
		article form input[type=text]:focus {background-color:#6dc3a6; border:2px solid #6dc3a6; color:white;}
		article form button {width:150px; background-color:#f8585b; border:none; color:#f0f4f5; padding:15px; border-radius:4px; font-size:1.2em; cursor:pointer; display:block; margin: 0 auto;;}
		article form button:hover {background-color: #6dc3a6; color:#f0f4f5; border:none;}
	</style>
</head>
<body>
	<div class="container-fluid">
	
		<header th:replace="/layout/header"></header>
		
		<article>
		<div class="row justify-content-center container">
		<div class="col-xl-10">
			<div class="row">
				<th:block th:each="garbage : ${garbageList.content}">
				<div class="col-md-4">
					<a th:href="|#{greenlab.upload.url}/garbage/${garbage.filename}|" data-lightbox="garbage" th:data-title="${garbage.title}">
					<div class="item">
						<img th:src="|#{greenlab.upload.url}/garbage/${garbage.filename}|" th:alt="${garbage.title}" />
						<div class="place" th:text="${garbage.location}"></div>
						<div class="date" th:text="${#temporals.format(garbage.getCreatedDate().get(), 'yyyy/MM/dd')}"></div>
					</div>
					</a>
				</div>
				</th:block>
			</div>
			</div>
		</div>
		
		<!--  <div class="more">
				<i class="fas fa-angle-double-down"></i> <br>
				<a href="#">더보기</a>
		</div> -->
		
		<div class="row justify-content-center">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<!-- 페이징 -->
				<div class="paging">
					
					<th:block th:with="pageCurrent=${garbageList.number == 0 ? 1 : garbageList.number + 1}">
					<th:block th:with="pageStart=${pageCurrent <= 1 ? 1 : pageCurrent-1}">
					<th:block th:with="pageEnd=${pageCurrent >= garbageList.totalPages ? pageCurrent : pageCurrent+1}">
					
					<nav aria-label="Page navigation ">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" th:href="@{/garbage(page=1)}"> <span aria-hidden="true">&lt;&lt;</span></a></li>
						<li class="page-item"><a class="page-link" th:href="@{/garbage(page=${pageStart})}" > <span aria-hidden="true">&lt;</span></a></li>
						
						<th:block th:each="pageSeq : ${#numbers.sequence(pageStart,pageEnd)}">
							<li th:class="|page-item ${pageSeq==pageCurrent ? 'active' : ''}|"><a class="page-link" th:href="@{/garbage(page=${pageSeq})}" th:text="${pageSeq}"></a></li>
						</th:block>
						
						<li class="page-item"><a class="page-link" th:href="@{/garbage(page=${pageEnd})}"> <span aria-hidden="true">&gt;</span></a></li>
						<li class="page-item"><a class="page-link" th:href="@{/garbage(page=${garbageList.totalPages})}"> <span aria-hidden="true">&gt;&gt;</span></a></li>
					</ul>
					</nav>
					
					</th:block>
					</th:block>
					</th:block>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
		
		<div id="upload-file" class="row justify-content-center">
			<div class="col-md-8">
			<input id="input-photo" name="input-photo" type="file" class="file" data-browse-on-zone-click="true">
			<!-- <button><p>버려지는 것들을 공유해 주세요.<br>여기로 사진 1장을 끌어 놓으면 됩니다.</p></button> -->
			</div>
		</div>
		<form action="#" method="get">
			<input type="text" name="lunch-place" placeholder="발견한 장소가 어디였나요?    예) 서울시 종로구"><br>
			<button type="submit">업로드</button>
		</form>
		</article>
	
		<footer th:replace="/layout/footer"></footer>
	</div>
	</body>
	
</html>
